body {
    background-image: url('../Kuvat/uutiskuva.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position: center center;
}



.header {
    padding: 20px;
    height: 120px;
    background-color: #85A4F4;
    grid-area: header;
   }

h1 {

    color: white;
    font-size: 2.9em;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.nav ul {
float:center; 


}




/* Modify the background color */
.navbar-custom {
	background-color:#065DDF;
}



.responsive-width {

    font-size: 1.2 vw;


}

.footer {
grid-area: footer;
  height: 95px;
  background-color: #85A4f4;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;

}



  .navbar-nav > li{
    padding-left:30px;
    padding-right:30px;
  }


  .accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  .accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  

  
  .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  .box {

background-color: white;
padding: 30px;
}

.box-container {

background-color: #4889eb;
padding: 4rem;
}

h3 {

color: white;
font-family: Arial, Helvetica, sans-serif;


}


  @media screen and (max-width: 1020px){
    .box, .btn {
        width: 100%; 
      }
  }

  @media screen and (max-width: 680px){
    .box, .btn {
        width: 100%; 
      }
  }

  @media screen and (max-width: 326px){
    .box, .p, .h1 {
        width: 100%; 
      }
  }

  .btn {
    border:solid;
    border-radius: 5px;
    padding: 5px 10px;
    height: 5rem;
    width: 9rem;
    text-align: center;
    
}

